<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RegisterConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database2.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Conn" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\image.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="registrationConnectionString2" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\registration.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ConnectionStringimage" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Databaseimage.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <httpRuntime maxRequestLength="1048576" />
      <sessionState mode="InProc" timeout="30"></sessionState>
      <compilation debug="true" targetFramework="4.5" />
     
    </system.web>

</configuration>
